@charset "utf-8";

body {
  font-size: 14px;
  color: #666666;
}

.wrapper {
  width: 370px;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header {
  background: #fff;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.site-title {
  line-height: 40px;
}

.site-title:hover {
  color: #00a0d2;
}

.line-button {
  background: #61c359;
  color: #fff;
  padding: 8px 24px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tel-button {
  background: #7bc9cf;
  color: #fff;
  padding: 8px 24px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.line-button:hover {
  background: #458b3f;
}

.tel-button:hover {
  background: #568c90;
}

.menu-btn {
  width: 20px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn span {
  background: #666;
  display: inline-block;
  width: 100%;
  height: 1px;
}

.close span:first-child {
  transform: rotate(45deg) translate(1px, -4px);
  transform-origin: left top;
}

.close span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.close span:last-child {
  display: none;
}

#gnavi {
  display: none;
}

#gnavi.open {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  background: #fff;
  z-index: 100;
  padding-top: 16px;
}

.gnavi__list {
  width: 300px;
  min-height: 100vh;
}

.gnavi__link {
  width: 100%;
  padding: 16px 24px;
  display: inline-block;
  color: #666;
}

.gnav__link:hover {
  color: #00a0d2;
}

#slider {
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

.sub__title {
  padding: 48px 0;
  text-align: center;
}

.sub__title p {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
}

.sub__title span {
  color: #21b5c1;
}

.practitioner {
  background: #f4fbfc;
  padding: 24px 0;
}

.practitioner__desc {
  textalign: justify;
  margin-bottom: 16px;
}

.practitioner__name {
  text-align: right;
}

.menu {
  padding: 48px 16px;
  margin-top: 48px;
}

.section__title {
  color: #21b5c1;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title:before,
.section__title:after {
  border-top: 1px solid #21b5c1;
  content: "";
  width: 16px;
}

.section__title:before {
  margin-right: 16px;
}

.section__title:after {
  margin-left: 16px;
}

.menu__desc {
  margin: 24px 0;
  textalign: justify;
}

.menu__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #666666;
  max-width: 230px;
}

.menu__price--bold {
  font-weight: bold;
  font-size: 24px;
  margin-right: 8px;
  margin-left: 32px;
}

.menu__item-title {
  background: #7bc9cf;
  width: 160px;
  padding: 2px;
}

.menu__item-title p {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 4px;
  text-align: center;
}

.menu__item-image {
  position: relative;
}

.menu__item-title {
  position: absolute;
  top: 200px;
  right: -10px;
}

.menu__item-desc {
  margin-top: 20px;
  text-align: justify;
}

.menu__item {
  margin-top: 64px;
}

.question {
  padding: 48px 16px;
}

.question ul {
  width: 96%;
  max-width: 900px;
  margin: 24px auto 0;
}

.question li {
  margin: 10px 0;
}

.question__item {
  border: 1px solid #e2e8f0;
}

.question__item-title {
  position: relative;
  cursor: pointer;
  padding: 3% 3% 3% 50px;
  transition: all 5s ease;
}

.question__item-title:before,
.question__item-title:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background: #666;
}

.question__item-title:before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.question__item-title:after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

.question__item-title.close::before {
  transform: rotate(45deg);
}

.question__item-title.close::after {
  transform: rotate(-45deg);
}

.question__item-answer {
  display: none;
  padding: 3% 3% 3% 50px;
}

.opening-date {
  padding: 48px 16px;
}

.opening-date table {
  margin-top: 24px;
  text-align: center;
  border-collapse: collapse;
}

.opening-date__item__blue {
  background: #7bc9cf;
  color: #fff;
}
.opening-date td {
  padding: 8px;
  border: 1px solid #21b5c1;
}

.opening-date__item__white {
  color: #21b5c1;
}

.opening-date__item__small {
  font-size: 10px;
}

footer {
  background-image: url("images/footer.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  padding: 48px 0 24px;
  margin-top: 48px;
  color: #fff;
}

.information {
  margin-bottom: 48px;
}

.information__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.information__tel {
  margin: 8px 0 24px;
}

.line-button__footer {
  background: #61c359;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tel-button__footer {
  background: #fff;
  padding: 8px 16px;
  font-size: 16px;
  color: #666;
  margin-left: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.line-button__footer:hover {
  background: #458b3f;
}

.tel-button__footer:hover {
  background: #666666;
  color: #fff;
}

.copyright {
  text-align: center;
  margin-top: 48px;
  font-size: 10px;
}
