@charset "utf-8";

#body {
  font-size: 14px;
  color: #666666;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2.5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 0 2px rgba(102, 102, 102, 0.6);
}

.header__inner {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}

.header__title {
  font-size: 16px;
  font-weight: regular;
  color: #666;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: ease 0.4s;
  background-color: #7bc9cf;
}

.header__hamburger {
  width: 36px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
  width: 32px;
}

.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #666;
  position: relative;
  transition: ease 0.4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
  background-color: #fff;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.nav__items {
  width: 100%;
  height: 100%;
}

.nav-items {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-items__item {
  padding: 24px 0;
  border-bottom: 1px solid #fff;
}

.nav__title {
  padding: 8px 0 0 8px;
}

.nav__title a {
  color: #fff;
  font-size: 16px;
}

.nav-items__item a {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

/* ------------------------ */

.top {
  position: relative;
}

.top__message {
  width: 80%;
  position: absolute;
  top: 80%;
  /* left: 33%; */
  z-index: 1;
  color: #fff;
  font-size: 18px;
  padding: 16px;
  background-color: #21b5c1;
}

#slider {
  max-width: 100%;
  height: 100vh; !important;
  object-fit: cover;
}

.site-title {
  line-height: 40px;
}

.site-title:hover {
  color: #00a0d2;
}

.reserve-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.line-button {
  background: #61c359;
  padding: 8px 24px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
}

.line-button a {
  color: #fff;
}

.tel-button {
  background: #fff;
  padding: 8px 24px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: 8px;
}

.line-button:hover {
  background: #458b3f;
}

.tel-button:hover {
  background: #568c90;
}

.sub__title {
  padding: 48px 0;
  text-align: center;
}

.sub__title p {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
}

.sub__title span {
  color: #21b5c1;
}

.practitioner {
  background: #f4fbfc;
  padding: 24px 0;
}

.practitioner__content {
  padding: 0 2.5%;
}

.practitioner__desc {
  textalign: justify;
  margin-bottom: 16px;
}

.practitioner__name {
  text-align: right;
}

.menu {
  padding: 48px 16px;
  margin-top: 48px;
}

.section__title {
  color: #21b5c1;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title:before,
.section__title:after {
  border-top: 1px solid #21b5c1;
  content: "";
  width: 16px;
}

.section__title:before {
  margin-right: 16px;
}

.section__title:after {
  margin-left: 16px;
}

.menu__desc {
  margin: 24px 0;
  textalign: justify;
}

.menu__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #666666;
  max-width: 230px;
}

.menu__price--bold {
  font-weight: bold;
  font-size: 24px;
  margin-right: 8px;
  margin-left: 32px;
}

.menu__item-title {
  background: #7bc9cf;
  width: 160px;
  padding: 2px;
}

.menu__item-title p {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 4px;
  text-align: center;
}

.menu__item-image {
  position: relative;
}

.menu__item-title {
  position: absolute;
  bottom: 0;
  right: -10px;
}

.menu__item-desc {
  margin-top: 20px;
  text-align: justify;
}

.menu__item {
  margin-top: 64px;
}

.question {
  padding: 48px 16px;
}

.question ul {
  width: 96%;
  max-width: 900px;
  margin: 48px auto 0;
}

.question li {
  margin: 10px 0;
}

.question__item {
  border: 1px solid #e2e8f0;
}

.question__item-title {
  position: relative;
  cursor: pointer;
  padding: 3% 3% 3% 50px;
}

.question__item-title:before,
.question__item-title:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background: #666;
}

.question__item-title:before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.question__item-title:after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

.question__item-title.close::before {
  transform: rotate(45deg);
}

.question__item-title.close::after {
  transform: rotate(-45deg);
}

.question__item-answer {
  display: none;
  padding: 3% 3% 3% 50px;
}

.opening-date {
  padding: 48px 16px;
}

.opening-date table {
  margin-top: 24px;
  text-align: center;
  border-collapse: collapse;
}

.opening-date__item__blue {
  background: #7bc9cf;
  color: #fff;
}

table {
  margin: 48px auto 0;
}

.opening-date td {
  padding: 8px;
  border: 1px solid #21b5c1;
}

.opening-date__item__white {
  color: #21b5c1;
}

.opening-date__item__small {
  font-size: 10px;
}

footer {
  background-image: url("images/footer.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  padding: 48px 0 24px;
  margin-top: 48px;
  color: #fff;
}

.footer {
  padding: 0 2.5%;
}

.information {
  margin-bottom: 48px;
}

.information__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.information__tel {
  margin: 8px 0 24px;
}

.line-button__footer {
  background: #61c359;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tel-button__footer {
  background: #fff;
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.reserve-button--footer .tel-button__footer a {
  color: #666;
}

.line-button__footer:hover {
  background: #458b3f;
}

.tel-button__footer:hover {
  background: #666666;
  color: #fff;
}

.map {
  text-align: center;
}

.copyright {
  text-align: center;
  margin-top: 48px;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  #body {
    font-size: 16px;
  }

  .wrapper {
    width: 1264px;
    margin: 0 auto;
  }

  /* --------- */

  .header {
    height: 100px;
  }

  .header__title {
    width: 50%;
    font-size: 24px;
  }

  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
  }

  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: flex-end;
  }

  .nav-items {
    height: 100px;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .nav-items__item {
    align-items: center;
    margin-left: 16px;
    line-height: 100px;
    border-bottom: none;
  }

  .nav-items__item a {
    margin-bottom: 0;
    color: #666;
  }

  .hamburger {
    display: none;
  }

  .nav-items__title {
    display: none;
  }

  .reserve-button {
    display: flex;
    margin-top: 0;
    margin-left: 16px;
  }

  .tel-button {
    background: #7bc9cf;
  }

  .tel-button a {
    color: #fff;
  }

  /* ---------- */

  .top__message {
  width: 30%;
  top: 80%;
  left: 50%;
  font-size: 24px;
  padding: 16px;
  text-align: center;
}

  .section__title {
    font-size: 32px;
  }

  .sub__title {
    padding: 96px 0;
  }

  .sub__title p {
    font-size: 32px;
  }

  .practitioner__content {
    display: flex;
    justify-content: space-between;
  }

  .practitioner__desc {
    width: 50%;
    padding: 0 16px;
  }

  .menu {
    margin-top: 96px;
  }

  .menu__desc {
    width: 50%;
    text-align: justify;
    margin: 48px auto 0;
  }

  .menu__price--bold {
    font-size: 24px;
  }

  .menu__price {
    margin-top: 48px;
  }

  .menu__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
  }

  .menu__content--center {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-gap: 48px;
    align-items: center;
    justify-content: center;
  }

  .question {
    margin-top: 48px;
  }

  .question__item {
    font-size: 18px;
  }

  .opening-date {
    margin: 96px auto;
  }

  table {
    margin: 48px auto 0;
  }

  .opening-date td {
    font-size: 18px;
    padding: 16px;
  }

  .opening-date__item__small {
    font-size: 16px;
  }

  footer {
    height: 400px;
    margin-top: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information {
    margin-right: 52px;
  }

  .line-button__footer,
  .tel-button__footer {
    font-size: 18px;
  }
}
